<div class="reset-password-form-container">
  <mat-card>
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-content>
      <div *ngIf="success">
        <p>
          Thank you for your password reset request,
          we will send you an email within 24hrs with new login instructions.
        </p>
        <div *ngIf="username.invalid && (username.dirty || username.touched)"
          class="error">
          <div *ngIf="username.errors.required">
            Name is required.
          </div>
        </div> 
        <div class="button">
          <button mat-raised-button color="primary" type="button" (click)="backToLogin()">Back to Login</button>
        </div>
      </div>
      <form *ngIf="!success" class="form" [formGroup]="form">

        <mat-form-field>
          <input id="username"  matInput type="text" matInput placeholder="Enter your Username" formControlName="username" required>
        </mat-form-field>
        <div *ngIf="errorMessage" color="warn" class="error">
          {{ errorMessage }}
        </div>
        
        <div class="button">
          <button mat-raised-button color="primary" type="submit" (click)="resetPassword()">Reset Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>  
</div>