<h1>Video Messaging</h1>
<p>This is a proof of concept application that will allow you to upload a video to a YouTube partner channel including tags for supporter and sponsorship.</p>

<mat-progress-spinner mode="indeterminate" *ngIf="!sponsorships"></mat-progress-spinner>

<mat-form-field>
  <mat-select placeholder="Select a sponsorship" *ngIf="sponsorships" [ngModel]="selectedSponsorship" (ngModelChange)="selectedSponsorship = $event; sponsorshipChange()">
    <mat-option *ngFor="let sponsorship of sponsorships" [value]="sponsorship">{{sponsorship.title}}</mat-option>
  </mat-select>
</mat-form-field>

<p *ngIf="selectedSponsorship">
  Supporter: {{supporter?.supporter.name}}
</p>

<p *ngIf="selectedSponsorship">
  Supporter: {{supporter?.sponsorship.place.title}}
</p>

<div>
  <label for="video">Select a video</label>
  <input id="video" type="file" placeholder="Select a video"/>
</div>
