<img src="../assets/mission-life-logo.png"/>
<h1>Video Messaging</h1>
<p>This is a proof of concept application that will allow you to upload a video to a YouTube partner channel including tags for supporter and sponsorship.</p>

<mat-progress-spinner mode="indeterminate" *ngIf="!sponsorships">Loading REACH data...</mat-progress-spinner>
<h4 *ngIf="!sponsorships">Loading REACH data...</h4>
<form [formGroup]="form" (ngSubmit)="save()" *ngIf="sponsorships">
  <b>Sponsorship: </b>
  <mat-select id="sponsorship-select" placeholder="Select a sponsorship" *ngIf="sponsorships" formControlName="sponsorship">
    <mat-option *ngFor="let sponsorship of sponsorships" [value]="sponsorship">{{sponsorship.title}}</mat-option>
  </mat-select>
  <mat-error *ngIf="hasError('sponsorship', 'required') && showError('sponsorship')">Sponsorship is required</mat-error>

  <p>
    <b>Supporter: </b><br/>
    <span *ngIf="supporter">{{supporter?.supporter.name}}</span>
  </p>

  <p>
    <b>Partner: </b><br/>
    <span *ngIf="selectedSponsorship">{{supporter?.sponsorship.place.title}}</span>
  </p>

  <div>
    <b>Video: </b><br/>
    <input id="video" type="file" placeholder="Select a video" accept="video/*" formControlName="file" /><br/>
    <mat-error *ngIf="hasError('file', 'required') && showError('file')">Sponsorship is required</mat-error>
  </div>

  <p><button mat-raised-button type="submit" color="primary">Save</button></p>
  <app-recorder></app-recorder>

</form>
