<hr />
<h2>Recorder</h2>
<div>
    <label for="time-interval">Time Interval (milliseconds):</label>
    <input type="text" id="time-interval" [value]="defaultRecordingTimeInterval" readonly />
    <span> ({{defaultRecordingTimeInterval/1000}} seconds)</span>
</div>
<div>
    <label for="video-recorderType">Recorder Type:</label>
    <select id="video-recorderType">
        <option value="[Best Available Recorder]">[Best Available Recorder]</option>
        <option value="MediaRecorder API">MediaRecorder API</option>
        <option value="WebP encoding into WebM">WebP encoding into WebM</option>
    </select>
</div>
<div>
    <label for="video-width">Video Width:</label>
    <input type="text" id="video-width" value="320">
    <label for="video-height">Video Height:</label>
    <input type="text" id="video-height" value="240">
</div>
<hr />
<button id="start-recording" (click)="onClickStart()" [disabled]="startButtonDisabled">Start</button>
<button id="stop-recording" (click)="onClickStop()" [disabled]="stopButtonDisabled">Stop</button>
<button *ngIf="showPauseButton" id="pause-recording" (click)="onClickPause()" [disabled]="pauseButtonDisabled">Pause</button>
<button *ngIf="showResumeButton" id="resume-recording" (click)="onClickResume()" [disabled]="resumeButtonDisabled">Resume</button>
<button id="save-recording" (click)="onClickSave()" [disabled]="saveButtonDisabled">Save</button>
<div id="videos-container" #videosContainer>
    <video class="recorder" controls="" [ngStyle]="{'display':startButtonDisabled ? 'block' : 'none'}"></video>
    <div [ngStyle]="{'display':displayPreviewContainer ? 'block' : 'none'}">
        <h3>Preview</h3>
        <iframe id="preview-container" target="previewContainer"></iframe>
    </div>
</div>