<div class="container" *ngIf="uploadComplete">
  <div class="upload-complete-text">
    Thank you for your video! We are now translating
    and close captioning your video before sending it 
    on to your sponsorship.
  </div>

  <button mat-raised-button color="primary" (click)="resetAfterSave()">Continue</button>
</div>

<div class="container" *ngIf="!uploadComplete">
  <mat-progress-spinner mode="indeterminate" diameter="48" *ngIf="!sponsorships">Loading REACH data...</mat-progress-spinner>
  <h4 *ngIf="!sponsorships">Loading REACH data...</h4>

  <ng-container *ngIf="uploadProgress">
    <label class="upload-status">Your video is being uploaded. Depending on the size of your video, this could take a bit. Please do not navigate away from this page.</label>
  </ng-container>

  <mat-progress-bar *ngIf="uploadProgress" mode="determinate" [value]="uploadProgress"></mat-progress-bar>

  <form [formGroup]="form" (ngSubmit)="save()" *ngIf="sponsorships && !uploadProgress">
    <mat-form-field>
      <mat-select (blur)="checkAuth()" id="sponsorship-select" placeholder="Select a sponsorship" *ngIf="sponsorships" formControlName="sponsorship">
        <mat-option *ngFor="let sponsorship of sponsorships" [value]="sponsorship">{{sponsorship.title}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div>
      <label for="file" class="mat-raised-button mat-accent" [attr.disabled]="selectedSponsorship ? null : 'disabled'" (click)="selectFileClick($event)">
        <ng-container *ngIf="fileToUpload">
          {{fileToUpload.name}}
        </ng-container>
        <ng-container *ngIf="!fileToUpload">
          Select a video
        </ng-container>
      </label>
      <button [disabled]="!!uploadProgress || !fileToUpload" mat-raised-button type="submit" color="primary">Save</button>
      <input id="file" style="visibility: hidden" type="file" placeholder="Select a video" accept="video/*"
             (change)="handleFileInput($event.target.files)" formControlName="file"/>
    </div>

  </form>
</div>
