.container {
  padding: 1rem;

  label.mat-raised-button {
    margin-right: 1rem;
  }
  .sponsorship-info {
    label {
      width: 100px;
      text-align: right;
      margin-right: 1rem;
      display: inline-block;
    }
  
    margin-bottom: 1rem;
  }
  .upload-status {
    margin: 1rem 0;
    display: inline-block;
  }
  mat-chip-list {
    margin: 1rem 0;
    display: block;
  }
}

.error {
  padding-bottom: 16px;
  width: 250px;
  color: red;
  font-size: 14px;
}
.upload-complete-text {
  font-family: "Helvetica Neue";
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 500px;
}
