<div class="new-password-form-container">
  <mat-card>
    <mat-card-title>New Password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form">
        <div>
          <mat-form-field>
            <input matInput type="password" matInput placeholder="Current Password" formControlName="existingPassword">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>
        
        <div *ngIf="error" color="warn" class="error">
          {{ error }}
        </div>
        
        <div class="button">
          <button mat-raised-button color="primary" type="submit" (click)="registerNewPassword()">Set New Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>  
</div>
